@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Inter:wght@200;400;600;700;900&family=Playfair+Display:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #2f2e2e;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
}

/* HEADER */
.header {
  justify-content: space-between;
}

.logo-link {
  color: inherit;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: calc(50 / 42 * 100%);
}

.navbar-menu {
  display: flex;
  margin-left: auto;
}

.menu-item {
  font-size: 20px;
  list-style-type: none;
  font-family: Inter;
  margin: 63px 0 63px 106px;
}

.menu-item:first-child {
  font-weight: 700;
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.search-icon {
  cursor: pointer;
  margin-left: 65px;
}

/* Main Block */

.main-page {
  position: relative;
  height: 740px;
}

.background-slider {
  position: absolute;
  right: 0;
}

.main-text-block {
  position: absolute;
  max-width: 690px;
  padding: 140px 155px 140px 100px;
  z-index: 10;
  background-color: #f4f6f5;
  opacity: 0.9;
  text-align: left;
  margin-top: 95px;
}

.title {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 51px;
  line-height: calc(69 / 51 * 100%);
  margin: 0;
}

.main-text {
  font-family: Inter;
  font-weight: 200;
  font-size: 32px;
  line-height: calc(39 / 32 * 100%);
  margin-top: 10px;
}

/* Services */

.services-block {
  display: flex;
  flex-direction: column;
  background-color: #254d4d33;
  background-opacity: 0.2;
  margin: 0 auto;
}

.service-container {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.service-title {
  text-align: center;
  margin: 16px 0 45px 0;
}

.service-info {
  text-align: center;
  margin-bottom: 49px;
}

.service-image {
  border-radius: 50%;
}

.service-info-title {
  font-size: 27px;
  font-weight: 900;
  margin: 0;
  line-height: calc(36 / 27 * 100%);
}

.service-text {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: calc(21 / 16 * 100%);
  margin-top: 10px;
}

/* ABOUT */

.about-block {
  margin-top: 75px;
}

.about-info {
  margin-left: 87px;
}

.about-text {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 31px;
  line-height: calc(41 / 31 * 100%);
}

.about-link {
  text-decoration: none;
  color: #2f2e2e;
  font-family: "Inter";
  font-weight: 600;
  font-size: 24px;
  line-height: calc(29 / 24 * 100%);
}

/* Projects block */

.projects-block {
  margin-top: 39px;
}

.projects-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-grid {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-between;
  column-gap: 104px;
  row-gap: 70px;
  margin-top: 20px;
}

.projects-text {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: 400;
  line-height: calc(24 / 16 * 100%);
  margin-top: 13px;
  padding: 0;
  cursor: pointer;
}

/* Testimonial Block */
.testimonial-block {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 70px;
}

.testimonial-card {
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.testimonial-info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.testimonial-card:first-child {
  margin-right: 130px;
}

.testimonial-title {
  font-size: 28px;
  font-weight: 700;
  line-height: calc(37 / 28 * 100%);
}

.testimonial-text {
  font-size: 17px;
  line-height: calc(23 / 17 * 100%);
}

.dots {
  justify-content: center;
  margin-bottom: 66px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e9e9e9;
  margin-right: 20px;
}

.dot-1 {
  background-color: #c4c4c4;
}

/* FOOTER */

.footer {
  background-color: #2e2f32;
  color: #fafafa;
  padding: 0;
}

.main-column {
  margin-right: 120px;
  margin-top: 47px;
  max-width: 287px;
}

.columns {
  display: flex;
  align-items: flex-start;
}

.footer-text {
  margin-top: 7px;
  font-family: Inter;
  font-weight: 400;
  font-size: 17px;
  line-height: calc(29 / 17 * 100%);
}

.footer-title {
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24 * 100%);
  margin-top: 57px;
}

.footer-item {
  list-style-type: none;
}

.footer-link {
  text-decoration: none;
  color: #fafafa;
  line-height: calc(21 / 24 * 100%);
}

.location-column {
  margin-left: 165px;
}

.footer-img {
  cursor: pointer;
}
